.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-image: url('/milkovi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature {
  background-color: rgb(244, 244, 244, .85);
  padding: 10px;
  margin: 5px;
  border: 3px solid #067f2e;
  border-radius: 10px;
}

.displayText {
  color: rgb(237, 252, 242);
}
